# Игнорировать файлы настроек локальной среды разработки
.env
.env.local
.env.*.local

# Игнорировать файлы миграции базы данных
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

# Игнорировать файлы логирования
logs/
*.log

# Игнорировать временные файлы
*.swp
*.bak
*.pyc
